<header>
    <nav class="navbar navbar-expand-lg bg-light">
        {% with request.resolver_match.view_name as view_name %}
            <div class="container">
                <nav class="nav nav-pills nav-justified">
                    <a class="{% if view_name == 'homepage:home' %}nav-item nav-link active {% else %} nav-item nav-link {% endif %}" href="{% url 'homepage:home' %}">Главная</a>
                    <a class="{% if view_name == 'catalog:item_list' %}nav-item nav-link active {% else %} nav-item nav-link {% endif %}" href="{% url 'catalog:item_list' %}">Каталог</a>
                    <a class="{% if view_name == 'about:description' %}nav-item nav-link active {% else %} nav-item nav-link {% endif %}" href="{% url 'about:description' %}">О нас</a>
                    <a class="{% if view_name == 'feedback:feedback' %}nav-item nav-link active {% else %} nav-item nav-link {% endif %}" href="{% url 'feedback:feedback' %}">Фидбек</a>
                    <a class="{% if view_name == 'users:user_list' %}nav-item nav-link active {% else %} nav-item nav-link {% endif %}" href="{% url 'users:user_list' %}">Пользователи</a>
                </nav>
                <nav class="nav nav-pills nav-justified">
                    {% if request.user.is_authenticated %}
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{ request.user.username }}</button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'users:profile' %}">Мой профиль</a></li>
                                <li><a class="dropdown-item" href="{% url 'users:password_change' %}">Сменить пароль</a></li>
                                <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <a class="{% if view_name == 'users:login' %}nav-item nav-link active {% else %} nav-item nav-link {% endif %}" href="{% url 'users:login' %}">Вход</a>
                        <a class="{% if view_name == 'users:logout' %}nav-item nav-link active {% else %} nav-item nav-link {% endif %}" href="{% url 'users:singup' %}">Регистрация</a>
                    {% endif %}
                </nav>
            </div>
        {% endwith %}
    </nav>
</header>
